extends ./layout/index
block contenido
    .container  
        .row
            .col-md-8.mx-auto.my-5
                h3.text-center ejhe
                p.text-center.mb-3 eje
                            table.table.table-striped
                                thead.background-table.text-center
                                    tr
                                    th(scope='col') #
                                    th(scope='col') Usuario
                                    th(scope='col') Acciones
                                    tbody.text-center.mt-3
                                        tr
                                        th(scope='row') 
                                        td Alex
                                        tr
