/* ==========================================================================
    General
   ========================================================================== */
body {
  font-family: "Open Sans", sans-serif;
  color: #546e7a;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

p {
  font-size: 14px;
  color: #546e7a;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
}

a:hover,
a:focus {
  color: #17a2b8;
}

a {
  color: #17a2b8;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #263238;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #fff;
}

.bg-transparent {
  background: transparent !important;
}

.bg-defult {
  background: #17a2b8 !important;
}

/* ==========================================================================
   Seccion Titulo
   ========================================================================== */
.seccion {
  padding: 80px 0;
}

.seccion-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
}

.seccion-header .seccion-titulo {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #263238;
  position: relative;
}



/* ==========================================================================
   Botonones
   ========================================================================== */
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: #17a2b8;
  position: relative;
  z-index: 1;
  padding: 12px 32px;
  border-radius: 30px;
}

.btn-common:hover {
  color: #fff;
}

.btn-effect {
  overflow: hidden;
}

.btn-effect:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-effect:hover:after {
  width: 100%;
}

.btn-border {
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.btn-border:hover {
  color: #ffffff;
  background-color: #17a2b8;
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}

button:focus {
  outline: none !important;
}


/* ==========================================================================
   Iconos Sociales
   ========================================================================== */
.facebook a {
  color: #4867aa;
}

.facebook a:hover {
  background: #4867aa;
}

.twitter a {
  color: #1da1f2;
}

.twitter a:hover {
  background: #1da1f2;
}

.google-plus a {
  color: #dd4d42;
}

.google-plus a:hover {
  background: #dd4d42;
}


.linkedin a {
  color: #007bb6;
}

.linkedin a:hover {
  background: #007bb6;
}

/* ==========================================================================
   Estilos Navbar 
   ========================================================================== */

.navbar-nav .nav-link {
  color: #263238 !important;
}
.navbar-nav .nav-link:hover {
  color: #17a2b8 !important;
}
.navbar-nav .active {
  color: #17a2b8 !important;
}

.bg-white {
  background-color: #fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  padding: 5px;
}


.bg-white .navbar-nav .nav-link {
  color: #263238 !important;
}

.bg-white .navbar-nav .nav-link:hover {
  color: #17a2b8 !important;
}

.bg-white .navbar-nav .active {
  color: #17a2b8 !important;
}


.navbar-expand-md .navbar-nav .nav-link {
  color: #fff;
  font-size: 14px;
  padding: 5px 0px;
  margin-left: 30px;
  position: relative;
}

.navbar-expand-md .navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #17a2b8;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.navbar-expand-md .navbar-nav .active::before,
.navbar-expand-md .navbar-nav .nav-link:hover::before {
  width: 50%;
}


.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover:before {
  color: #17a2b8;
}

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.active:before{
  color: #17a2b8;
}

.navbar-expand-md .navbar-toggler {
  background: #17a2b8;
  border-radius: 0px;
  margin: 5px;
  cursor: pointer;
  float: right;
}

.navbar-expand-md .navbar-toggler i {
  color: #fff !important;
}

.mainmenu-area .navbar-nav .nav-link {
  color: #263238 !important;
}


.tech{
  font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}


.navbar-expand-md .navbar-toggler:active {
  border: 1px solid #17a2b8;
  color: #17a2b8;
}


.image-404{
  max-width: 600px;
  max-height: 450px;
}

/* ==========================================================================
   Seccion Call To Action
   ========================================================================== */

.seccion-call .texto-call h3 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 28px;
  letter-spacing: 1px;
}

.seccion-call .texto-call p {
  margin-bottom: 30px;
}

/* ==========================================================================
   Portfolio 
   ========================================================================== */

.portafolio-contenedor {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.portafolio-contenedor img {
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 4000ms;
  -o-transition-duration: 4000ms;
  transition-duration: 4000ms;
}

.portafolio-contenedor .contenido-portafolio {
  background-color: rgba(22, 26, 39, 0.7);
  opacity: 0.9;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 100%;
}


.portafolio-contenedor .contenido-portafolio a {
  color: #fff;
  font-size: 16px;
}

.portafolio-contenedor:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.portafolio-contenedor:hover .contenido-portafolio {
  opacity: 0.8;
}

/* ==========================================================================
   Seccion Servicios 
   ========================================================================== */

.servicio-item {
  padding: 30px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  margin: 15px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.servicio-item .icon {
  margin-bottom: 10px;
}

.servicio-item .icon i {
  font-size: 30px;
  line-height: 60px;
  color: #17a2b8;
}

.servicio-item h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.servicio-item p {
  margin: 0;
}

.item-boxes:hover {
  background: transparent;
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
}

.contenedor-servicio {
  padding: 30px 15px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.contenedor-servicio .icon {
  margin-bottom: 20px;
}

.contenedor-servicio .icon i {
  width: 60px;
  height: 60px;
  background: #f9f9f9;
  display: inline-block;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.contenedor-servicio .color-5 i {
  background: #e7e6ff;
  color: #17a2b8 !important;
}

.header-active{
  border-bottom: 3px solid white ;

}
@media (max-width:982px){
.header-active{
  border-bottom: 3px solid white ;
  max-width: 7em;
}  
.logout{
  margin-top: 1em !important;
}
}

.contenedor-servicio:hover {
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
}

.contenedor-servicio:hover .icon i {
  background: transparent;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* ==========================================================================
   Seccion Acerca 
   ========================================================================== */
.acerca-contenedor {
  margin-top: 15px;
  margin-bottom: 15px;
}

.acerca-contenedor .icono {
  float: left;
}

.acerca-contenedor .icono i {
  font-size: 30px;
  color: #17a2b8;
  text-align: center;
  float: left;
  margin-right: 25px;
  margin-bottom: 85px;
  display: block;
}

.acerca-contenedor .acerca-contenido {
  padding-left: 40px;
  position: relative;
}


.acerca-contenedor .acerca-contenido h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.acerca-contenedor .acerca-contenido p {
  font-size: 14px;
}
/* ==========================================================================
 Seccion Team Smart
   ========================================================================== */
.contenedor-team:hover .detalles-team {
  opacity: 1;
}

.contenedor-team {
  position: relative;
  background: #f9f9f9;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
  border-radius: 0px;
  overflow: hidden;
}

.contenedor-team:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
}

.contenedor-team img {
  width: 100%;
}

.contenedor-team .texto-team {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contenedor-team .detalles-team {
  padding: 20px;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.contenedor-team .detalles-team .titulo-team {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #263238;
}

.contenedor-team .detalles-team p {
  margin-bottom: 15px;
}

.contenedor-team .redes-team li {
  display: inline-block;
}

.contenedor-team .redes-team li a {
  display: block;
  height: 34px;
  line-height: 34px;
  text-align: center;
  width: 34px;
  color: #17a2b8;
  font-size: 14px;
  background: #fff;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.contenedor-team .redes-team .facebook a:hover {
  background: #4867aa;
  color: #fff;
}

.contenedor-team .redes-team .twitter a:hover {
  background: #1da1f2;
  color: #fff;
}

.contenedor-team .redes-team .google-plus a:hover {
  background: #dd4d42;
  color: #fff;
}

.contenedor-team .redes-team .linkedin a:hover {
  background: #007bb6;
  color: #fff;
}

/* ==========================================================================
  Seccion HERO
   ========================================================================== */
.hero {
  overflow: hidden;
  background: #2c3e50;
}

.hero .hero-contenedor {
  background-size: 100%;
}
.encabezado-hero{
  margin-bottom: 5rem;
}

.hero .hero-contenedor  h3 {
  color: #fff;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
}

.hero .hero-contenedor  h2 {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
}

.hero .hero-contenedor  h4 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
@media (max-width:520px){
  .hero-text{
   font-size: 40px !important;
  }
  .service-btn{
    margin-left:0;
    margin-top:2em;
  }
  .sub-hero{
    font-size: 20px;
  }
 
}

/* ==========================================================================
   Contacto
  ========================================================================== */
.form-control {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 30px;
  font-size: 14px;
  border-radius: 30px;
  border: 1px solid transparent;
  background: #f5f5f5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.form-control:focus {
  border: 1px solid #17a2b8;
  outline: none;
  box-shadow: none;
}

.btn.disabled,
.btn:disabled {
  opacity: 1;
}

textarea {
  border-radius: 4px !important;
}

/* ==========================================================================
 Seccion Counter
 ========================================================================== */
.contador {
  position: relative;
}

.contador .contenedor-contador {
  text-align: center;
  color: #fff;
  border: 1px dotted #fff;
  border-radius: 4px;
  padding: 30px;
}

.contador .contenedor-contador .icon {
  margin-bottom: 15px;
}

.contador .contenedor-contador .icon i {
  font-size: 40px;
  color: #fff;
}

.contador .contenedor-contador .cuenta h3 {
  font-size: 40px;
  color: #fff;
  font-weight: 400;
  line-height: 40px;
}

.contador .contenedor-contador .cuenta h4 {
  font-size: 15px;
  color: #fff;
  margin-bottom: 0;
}


.btn-hover {
  color: rgb(38, 87, 202);
}
.btn-hover:hover {
  color: white !important;
}

/* ==========================================================================
  Seccion Testimonios
 ========================================================================== */

@media (max-width: 980px) {
  .contenedor-testimonios {
    margin-bottom: 3rem;
  }
  .ultimo-testimonio {
    margin-bottom: 0 !important;
  }
}

.contenedor-testimonios {
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}
.contenedor-testimonios .imagen-testimonios img {
  width: 90px;
  border-radius: 50%;
  display: inline-block;
}
.contenedor-testimonios .contenido-testimonio {
  padding-top: 25px;
}
.contenedor-testimonios .contenido-testimonio .texto-testimonio {
  font-size: 16px;
  line-height: 24px;
  color: #121212;
  border-bottom: 1px solid #cbced1;
  padding-bottom: 24px;
}
.contenedor-testimonios .contenido-testimonio .testimonio-nombre {
  font-size: 18px;
  font-weight: 600;
  color: #121212;
  margin-top: 24px;
}
.contenedor-testimonios .contenido-testimonio .profesion-testimonio {
  font-size: 14px;
  line-height: 24px;
  color: #a4a4a4;
}


/* ==========================================================================
  Seccion Newsletter 
 ========================================================================== */
 .seccion-newsletter {
  padding-top: 50px;
  padding-bottom: 100px;
  background: #f9f9f9
}
.seccion-newsletter .newsletter-contenedor .titulo-newsletter {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: #121212;
}
@media (max-width: 767px) {
  .seccion-newsletter .newsletter-contenedor .titulo-newsletter {
    font-size: 24px;
    line-height: 35px;
  }
}
.seccion-newsletter .newsletter-contenedor .texto-newsletter {
  font-size: 16px;
  color: #121212;
  line-height: 27px;
  margin-top: 16px;
}
.seccion-newsletter .formulario-newsletter {
  position: relative;
}
.seccion-newsletter .formulario-newsletter input {
  width: 100%;
  height: 60px;
  border: 1px solid #cbced1;
  background: none;
  padding: 0 25px;
  border-radius: 50px;
}
@media (max-width: 767px) {
  .seccion-newsletter .formulario-newsletter input {
    height: 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .seccion-newsletter .formulario-newsletter input {
    height: 60px;
  }
}
.seccion-newsletter .formulario-newsletter input::placeholder {
  opacity: 1;
  color: #a4a4a4;
}
.seccion-newsletter .formulario-newsletter input::-moz-placeholder {
  opacity: 1;
  color: #a4a4a4;
}
.seccion-newsletter .formulario-newsletter input::-moz-placeholder {
  opacity: 1;
  color: #a4a4a4;
}
.seccion-newsletter .formulario-newsletter input::-webkit-input-placeholder {
  opacity: 1;
  color: #a4a4a4;
}

.seccion-newsletter .formulario-newsletter .boton-newsletter {
  position: absolute;
  top: 5px;
  right: 5px;
}
@media (max-width: 767px) {
  .seccion-newsletter .formulario-newsletter .boton-newsletter .btn-principal {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .seccion-newsletter .formulario-newsletter .boton-newsletter .btn-principal {
    width: auto;
  }
}
@media (max-width: 767px) {
  .seccion-newsletter .formulario-newsletter .boton-newsletter {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .seccion-newsletter .formulario-newsletter .boton-newsletter {
    position: absolute;
    top: 8px;
    right: 8px;
    margin-top: 0;
  }
}

/* ==========================================================================
 Estilos Backend
 ========================================================================== */

.containerOwnApp {
  box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
  padding-top: 15px;
}

.login-page {
 padding: 18% 0 0;
 margin: 0 auto 100px;
 max-width: 360px;
 position: relative;
}

.login-form {
  box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
}

.login-form-header {
  padding-top: 16px;
}

.login-from-row {
  padding-top: 16px;
  padding-bottom: 16px;
}

.login-form-font-header {
  font-size:30px; 
  font-weight: bold;
}

.login-form-font-header span {
  color: #007C9B;
}
.title-form{
  font-size: 3rem;
  font-weight: bold;
}
.tech-form{
  color: #17a2b8;
}

.input-form{
  padding-left:1em;
}
.form-servicios{
  background: #d8dce0;
    padding: 3rem;
    border-radius: 3rem;
}
.background-table{
  background:#dee2e6
}